
<div class="hero-unit">
	<h1>欢迎来到MicroBlog</h1>
	<p>Microblog 是一个基于Nodejs的微博系统。</p>
	<p>
		<a href="/login" class="btn btn-large btn-primary">登入</a>
		<a href="/reg" class="btn btn-large">立即注册</a>
	</p>
</div>

<div class="row">
	<div class="span4">
		<h2>Carbo 说</h2>
		<p>东风破早梅，向暖一支开。冰雪无人见，春从天上来。</p>
	</div>
	<div class="span4">
		<h2>jayhuai 说</h2>
		<p>
		jQuery是一个快速、简洁的JavaScript框架，是继Prototype之后又一个优秀的JavaScript代码库（或JavaScript框架）。jQuery设计的宗旨是“write Less，Do More”，即倡导写更少的代码，做更多的事情。它封装JavaScript常用的功能代码，提供一种简便的JavaScript设计模式，优化HTML文档操作、事件处理、动画设计和Ajax交互。</p>
	</div>
	<div class="span4">
		<h2>佛振 说</h2>
		<p>Bootstrap，来自 Twitter，是目前很受欢迎的前端框架。Bootstrap 是基于 HTML、CSS、JAVASCRIPT 的，它简洁灵活，使得 Web 开发更加快捷。[1]  它由Twitter的设计师Mark Otto和Jacob Thornton合作开发，是一个CSS/HTML框架。Bootstrap提供了优雅的HTML和CSS规范，它即是由动态CSS语言Less写成。</p>
	</div>
</div> 



